html, body {
  margin: 0;
  padding: 0;
}

html{
  font-size: 15px;
  background-color:#a0e248;
}

h3{
  font-family:'Myriad Pro Light';
  color:black;
  font-style: normal;
  text-align: center;
}

#img_home{
  max-height: 200px;
}
#E_h1{
  font-family: 'Adobe Heiti Std R';
  color: black;
  text-align: center;
}

#E_h3{
  font-family: 'Adobe Heiti Std R';
  color: black;
  text-align: center;
}

#pianta{
  max-height: 600px;
}

#primo_h1, p {
  font-family: 'Myriad Pro Light';
  color: black;
  text-align: center;
}

#img_mobile{
  text-align: center;
  max-height: 300px;
}
#img_disegni{
  max-height: 100px;
}

#img_tavole{
  max-height: 200px;
}
.descrizione_arredo{
width:40%;
float:left;
text-align: left;
}

.titolimobili{
  text-decoration: underline;
}

p.seconda_parte {
  font-family: sans-serif;
}

p > strong {
  color: #383838;
}

p  em {
  font-variant: small-caps;
}

 #elenco{
   text-align: center;
 }

a#casa{
  position:fixed;
  right:0;
  bottom:400px;
  display:block;
  height: 50px;
  width: 50px;
  background: url(casetta.JPG) bottom right no-repeat;
  text-indent: -999em;
  text-decoration: none;
}
