

html, body {
    margin-top: 10px;
		margin-right: 30px;
		margin-bottom: 10px;
		margin-left: 30px;
}

h1#prima_parte {
  border-width: thin;
  color: green;
  font-weight:normal;
  font-size: 30px


}

h1 {
  text-align: center;
}








a:link, a:visited {
    text-decoration: underline;
    color: grey;
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: none;
    color: black;
}




html {
  font-style: normal;
}



h2 {
  color:grey;
}

ul {
  color:grey;
}

div {
  color: black;
}
h3,h5 {
  color: green;
  font-weight: bold;
  font-size: 30px
}

figure {
  display:inline-block;
}

figcaption.seconda_didascalia {
  position:absolute;
  align: center
  font-style:italic;
  font-size: 12px
}

img.immagini {
  height: 340px
}

ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul#menu li {
    color: grey
    display: block;
    width: 150px;
    height: 1px;
    margin: 39px;
    float: left; /* elementi su singola riga */
}

ul#menu li a {
    font-weight:lighter;
    color: grey
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}
