h1, h2, h3, div, p{
  font-family:fantasy;
  font-style: regular;
}
h1{
  color:#5882FA;
  font-size:80px;
}
h1#secondo_h1, h1#terzo_h1{
  font-size: 60px;
}
h2, h3, div, p{
  font-size: 30px;
}
h2#prima_parte, h2#seconda_parte, h2#terza_parte{
  font-size: 40px;
}
html {
  background-color: #A9BCF5;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  width: 70%;
  min-width: 800px;
  margin: 0 auto;
}
img{
  display: block;
  margin: 0 auto;
}
