@import url('https://fonts.googleapis.com/css?family=Limelight');

h1,h2,h3,h4{
font-family:'Limelight', cursive;
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
   background-color:#b0c4de;
}
body {
  width: 90%;
  min-width: 800px;
  margin: 0 auto;
}

ul{
list-style-type:none;
margin:1;
padding:1;
}
ul{
  font-size:2rem;
  font-family:sans-serif;
  text-align: center;
}
li
{
display:inline;
}

h1{
  text-align:center;
  font-family:'Limelight';
  font-size:5rem;
}
h2{
  text-align:center;
  font-family:'Limelight', cursive;
  font-size:3rem;
  line-height:normal;
}


p1{
  font-family:sans-serif;
  text-align:center;
  font-size:1.5rem;
  line-height:normal;

}
p2{
  font-family:sans-serif;
  text-align:center;
  font-size:1rem;
  line-height:normal;
}
p3{
  font-family:sans-serif;
  text-align:center;
  font-size:2rem;
  line-height:normal;
}
img{
  max-width: 800px;
  max-height: 800px;
}
img[class]{
  width:180;
  margin:10
}
object-fit_fill{
  object-fit: fill
}
